mixin about
  .about&attributes(attributes)
    .about__inner
      .about__offer-wrapper
        +offer(descriptionOffer)(class='about__offer offer--big')
      .about__development-wrapper
        +development(class='about__development')
