mixin box-pricing
  section.pricing.pricing--box#box-pricing&attributes(attributes)
    .pricing__inner
      .pricing__description
        h2.pricing__heading.heading.heading--size_l.accent Коробочная версия
        p.pricing__text Разместите Битрикс24 на сервере компании или в датацентре, и управляйте скоростью и надежностью его работы. Вы можете использовать несколько серверов, тем самым обеспечив высокую доступность портала и его масштабирование.
        p.pricing__text Открытый исходный код позволяет дорабатывать интерфейс и функциональность Битрикс24 под индивидуальные потребности и бизнес-логику вашей компании без ограничений.
      a.pricing__anchor.pricing__anchor--top.heading.heading--size_l(href='#cloud-pricing') Облачный сервис
        .pricing__anchor-icon
      +licenses({ licenses })(class='pricing__licenses')
