-
  const devCases = [
    {
      title: 'Интернет-магазин плитки',
      link: 'www.studioardo.ru',
      href: 'http://www.studioardo.ru'
    },
    {
      title: 'Интересный ресторан',
      link: 'www.skobar.ob-ob.ru',
      href: 'http://www.skobar.ob-ob.ru'
    },
    {
      title: 'Симуляционные центры',
      link: 'www.geotar-med.ru',
      href: 'http://www.geotar-med.ru'
    },
    {
      title: 'ФГУП российские сети',
      link: 'www.rsvo.ru',
      href: 'http://www.rsvo.ru'
    },
    {
      title: 'Стоматологическая клиника',
      link: 'www.clinic.kdental.ru',
      href: 'http://www.clinic.kdental.ru'
    },
    {
      title: 'Бурение скважин',
      link: 'www.voda33.su',
      href: 'http://www.voda33.su'
    },
  ];

mixin development
  .development&attributes(attributes)
    section.development__section
      h2.development__section-heading Разрабатываем
      ul.development__list
        li.development__list-item Крупные интернет-магазины
        li.development__list-item Корпоративные имиджевые сайты
        li.development__list-item Продающие Landing page и Promo
        li.development__list-item Мобильные приложения
        li.development__list-item Фирменные стили
    section.development__section
      h2.development__section-heading Кейсы 6/31
      ul.development__cases
        each devCase in devCases
          li.development__cases-item
            p.development__case-title= devCase.title
            a.development__case-link(href= devCase.href target='_blank' rel='noopener')= devCase.link
    +button({
      tag: 'a',
      text: 'Обсудить проект / <span class="hidden hidden--nm">рассчитать</span> стоимость',
      href: '#',
    })(class='development__button button--primary' data-modal-opener='feedback-form')
    p.development__text Ответим в течении 60 минут!
