mixin features-list
  .features-list&attributes(attributes)
    ul.features-list__items
      li.features-list__item Онлайн-сервис для командной работы
        img.features-list__item-image(src='img/features/diagram.svg' width='80' height='60' alt='Диаграмма.')
      li.features-list__item Общий календарь встреч с&nbsp;коллегами
        img.features-list__item-image(src='img/features/team.svg' width='80' height='60' alt='Команда.')
      li.features-list__item Работа с файлами на&nbsp;общем диске
        img.features-list__item-image(src='img/features/laptop.svg' width='80' height='60' alt='Ноутбук.')
      li.features-list__item Бесплатные видеозвонки
        img.features-list__item-image(src='img/features/target.svg' width='80' height='60' alt='Камера.')
