mixin features
  .features&attributes(attributes)
    .container
      .features__inner
        h2.features__heading.heading.heading--size_xl Битрикс24 помогает работать #[span.accent вместе]
        p.features__text Бесплатно для неограниченного числа сотрудников
        +features-list
