mixin footer-navigation
  .footer-navigation&attributes(attributes)
    each i in [1, 2, 3]
      ul.footer-navigation__list
        li.footer-navigation__item
          a.footer-navigation__link Web-разработка
        li.footer-navigation__item
          a.footer-navigation__link Внедрение Битрикс24
        li.footer-navigation__item
          a.footer-navigation__link Разработка на 1С
        li.footer-navigation__item
          a.footer-navigation__link Мобильные приложения
