mixin page-slider
  .page-slider.swiper
    ul.page-slider__list.swiper-wrapper
      li.page-slider__slide.swiper-slide
        +about
      li.page-slider__slide.swiper-slide
        | Возможности
      li.page-slider__slide.swiper-slide
        | Цены
