mixin page-slider
  .page-slider.swiper
    ul.page-slider__list.swiper-wrapper
      li.page-slider__slide.swiper-slide
        +about-page
      li.page-slider__slide.swiper-slide
        +capabilities-page
      li.page-slider__slide.swiper-slide
        +prices-page
