mixin site-navigation
  nav.site-navigation&attributes(attributes)
    ul.site-navigation__list
      li.site-navigation__item
        a.site-navigation__link(href='#capabilities') Возможности
      li.site-navigation__item
        a.site-navigation__link(href='#prices') Цены
