.offer {
  font: 400 16px/22px $main-font-family;

  @media (min-width: $wide-desktop-width) {
    font-size: 18px;
    line-height: 25px;
  }
}

.offer__heading {
  display: block;
  margin: 0 0 22px;
}

.offer__text {
  margin: 0;

  @media (min-width: $laptop-width) {
    max-width: 456px;
  }

  @media (min-width: $wide-desktop-width) {
    max-width: 533px;
  }
}

.offer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offer__list-item {
  display: grid;
  grid-template-columns: 24px 1fr;

  &::before {
    content: "";
    justify-self: center;
    align-self: start;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: 0.5em;
    background: currentColor;
  }
}

.offer__text + .offer__text,
.offer__list + .offer__text,
.offer__text + .offer__list,
.offer__list + .offer__list {
  margin-top: 22px;
}

.offer__buttons {
  display: grid;
  margin: 32px 0 0;
  gap: 8px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 16px;
  }
}

.offer--big {
  font-size: 18px;
  line-height: 23px;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 31px;
  }

  .offer__heading {
    margin-bottom: 11px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  .offer__text {
    @media (min-width: $laptop-width) {
      max-width: 475px;
    }

    @media (min-width: $desktop-width) {
      max-width: 500px;
    }
  }

  .offer__buttons {
    margin-top: 38px;

    @media (min-width: $tablet-width) {
      display: flex;
      column-gap: 20px;
    }
  }
}
