.skeleton {
  position: relative;
  overflow: hidden;

  img {
    transition: opacity $duration-m ease-out;
  }
}

.skeleton:not(.skeleton--loaded) {
  img {
    opacity: 0;
  }
}

.skeleton--iridescent:not(.skeleton--loaded) {
  background-color: var(--background-additional-color);

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;
    background-size: 1000px 100%;
    animation: shimmer 2s infinite;
  }
}
