.text-field {
  font: 400 16px/24px $main-font-family;
}

.text-field__inner {
  display: block;
}

.pristine-item--invalid .text-field__control-wrapper {
  --box-shadow-color: var(--error-color);
  border-color: var(--error-color);
}

.text-field__control-wrapper {
  display: block;
  border-bottom: 1px solid var(--text-additional-color);
  box-shadow: 0 0 0 0 var(--accent-color);
  transition: border-color $duration-s ease-in-out, box-shadow $duration-xs ease-in;

  &:hover {
    border-color: var(--accent-color);
  }

  &:focus-within {
    border-color: var(--accent-color);
    box-shadow: 0 2px 0 0 var(--accent-color);
  }
}

.text-field__control {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 10px;
  border: none;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  outline: none;

  &::placeholder {
    opacity: 1;
    color: var(--text-additional-color);
  }
}
