:root {
  --text-color: #454965;
  --text-additional-color: #7479a6;
  --text-light-color: #ffffff;
  --text-light-additional-color: #c3c4ce;
  --text-light-additional-color-2: #bcbecd;
  --text-light-additional-color-3: #eaeaea;
  --text-light-additional-color-4: #9296ba;
  --text-light-additional-color-5: #7e819b;
  --text-light-additional-color-6: #7d819f;
  --background-color: #ffffff;
  --background-dark-color: #454965;
  --background-additional-color: #ebf6f2;
  --border-light-color: #696d88;
  --accent-color: #47cc54;
  --accent-color-o44: rgba(71, 204, 84, 0.44);

  --edge-indent: 16px;

  @media (min-width: $tablet-width) {
    --edge-indent: 24px;
  }

  @media (min-width: $laptop-width) {
    --edge-indent: 40px;
  }

  @media (min-width: $desktop-width) {
    --edge-indent: 120px;
  }
}

button {
  color: #0000ff;
}
