-
  const discountBanner = {
    offer: discountOffer,
    image: 'img/banners/discount.webp'
  };

  const capabilitiesBanners = [
    {
      offer: collaborationOffer,
      image: 'img/banners/collaboration.webp'
    },
    {
      offer: messengerOffer,
      image: 'img/banners/messenger.webp'
    },
    {
      offer: crmOffer,
      image: 'img/banners/crm.webp'
    },
    {
      offer: copilotOffer,
      image: 'img/banners/copilot.webp'
    },
  ];
