-
  const buyButton = {
    tag: 'a',
    text: 'Купить',
    href: '#',
    target: '_blank',
    rel: 'noopener'
  };

  const feedbackButton = {
    tag: 'a',
    text: 'Узнать больше',
    href: '#',
    modalOpener: 'feedback-form'
  };

  const priceButton = {
    tag: 'a',
    text: 'Рассчитать стоимость',
    href: '#',
    modalOpener: 'price-form'
  };

  const referralProgramButton = {
    tag: 'a',
    text: 'Создать бесплатно',
    href: 'https://www.bitrix24.ru/apps/app/sdelka.partnerskaya_programma',
    target: '_blank',
    rel: 'noopener'
  };
