-
  const feedbackButton = {
    tag: 'a',
    text: 'Узнать больше',
    href: '#',
  };

  const referralProgramButton = {
    tag: 'a',
    text: 'Создать бесплатно',
    href: '#',
    rel: 'noopener'
  };
