-
  const capabilities = [
    {
      heading: 'Чат для совместной работы',
      texts: [
        'В Чатах вы можете общаться лично или в группах, проводить созвоны, ставить лайки и реагировать на сообщения коллег.',
        'Благодаря Битрикс24, командный дух остается сильным, даже если вы работаете на расстоянии.',
      ],
      primaryButton: referralProgramButton,
      secondaryButton: feedbackButton,
      image: {
        src: 'img/capabilities/1.webp',
        width: '720',
        height: '456',
      }
    },
    {
      heading: 'Каналы для сотрудников',
      texts: [
        'Создавайте каналы и адресно делитесь важной информацией. Каналы могут быть для всей компании или для конкретных отделов, открытые или закрытые, тематические или авторские.',
        'Треды в Каналах помогают фокусировать обсуждение на теме сообщения, не отвлекаясь на другие вопросы.',
      ],
      primaryButton: referralProgramButton,
      image: {
        src: 'img/capabilities/2.webp',
        width: '720',
        height: '473',
      }
    },
    {
      heading: 'Бесплатные видеозвонки',
      texts: [
        'Обсуждайте проекты, звоните по видео из любого чата, задачи или события в календаре.',
        'Запись звонка, резюме и другие функции помогут продуктивно работать даже на удаленке. Звонки не ограничены по длительности.',
      ],
      secondaryButton: feedbackButton,
      image: {
        src: 'img/capabilities/3.webp',
        width: '720',
        height: '404',
      }
    },
    {
      heading: 'Новости компании',
      texts: [
        'Как быстро оповестить о новостях всех сотрудников одновременно? Написать пост в общей ленте. Это упрощает обсуждения, экономит ваше время на принятие решений.',
        'Новостная лента может стать местом, где кипит жизнь в компании. Прямо из поста создавайте задачи, проводите опросы, делитесь эмоциями.',
      ],
      primaryButton: referralProgramButton,
      image: {
        src: 'img/capabilities/4.webp',
        width: '720',
        height: '409',
      }
    },
    {
      heading: 'Календарь',
      texts: [
        'Планируйте рабочий день и встречи с любого устройства – календарь синхронизируется с сервисами Google, Microsoft или iCloud.',
        'Из встречи можно начать звонок на всех участников или создать чат для обсуждения.',
      ],
      primaryButton: referralProgramButton,
      image: {
        src: 'img/capabilities/5.webp',
        width: '720',
        height: '437',
      }
    },
    {
      heading: 'Свободные слоты',
      texts: [
        'Как найти время встречи, которое подходит всем участникам? Поделитесь своим расписанием, и собеседник сам выберет «окошко».',
        'Слоты помогают встречаться даже с теми, кого нет в вашем Битрикс24. Просто отправьте ссылку!'
      ],
      primaryButton: referralProgramButton,
      image: {
        src: 'img/capabilities/6.webp',
        width: '720',
        height: '460',
      }
    },
    {
      heading: 'Copilot — ваш личный ассистент',
      texts: [
        'Не всегда хватает времени прочитать длинный пост или написать благодарность. Но теперь у вас есть личный помощник! Он изучит большой текст и выделит главное. С CoPilot все гораздо быстрее и проще.',
      ],
      secondaryButton: feedbackButton,
      image: {
        src: 'img/capabilities/7.webp',
        width: '720',
        height: '406',
      }
    },
    {
      heading: 'Корпоративная почта',
      texts: [
        'Подключите свой рабочий почтовый ящик к Битрикс24, чтобы упростить совместную работу с письмами:'
      ],
      list: [
        'Создавайте сделки в CRM из письма',
        'Контролируйте выполнение задач',
        'Обсуждайте письма с коллегами',
        'Настройте автосоздание сделок в CRM',
        'Раздайте доступ к почтовым ящикам нужным сотрудникам',
      ],
      secondaryButton: feedbackButton,
      image: {
        src: 'img/capabilities/8.webp',
        width: '720',
        height: '405',
      }
    },
    {
      heading: 'Онлайн-редактор документов',
      texts: [
        'Встроенный онлайн-редактор для совместной работы с документами. Интегрирован со всеми инструментами Битрикс24.',
        'Просматривайте и редактируйте документы в задаче, в новостной ленте, во время видеозвонка. Вы видите все правки коллег в реальном времени, изменения сохраняются автоматически.',
      ],
      secondaryButton: feedbackButton,
      image: {
        src: 'img/capabilities/9.webp',
        width: '720',
        height: '405',
      }
    },
    {
      heading: 'Виртуальное присутствие в офисе',
      texts: [
        'Работая в Битрикс24, вы будете видеть, кто из коллег сейчас в сети. Это помогает чувствовать команду, даже работая дистанционно.',
      ],
      secondaryButton: feedbackButton,
      image: {
        src: 'img/capabilities/10.webp',
        width: '720',
        height: '492',
      }
    },
    {
      heading: 'Чекин на работе',
      texts: [
        'Как начать рабочий день с лайков и хорошего настроения? Зачекиниться в Битрикс24!',
        'Поддерживайте командный дух и дисциплину с помощью геймификации.',
      ],
      image: {
        src: 'img/capabilities/11.webp',
        width: '720',
        height: '462',
      }
    },
    {
      heading: 'Общий диск компании',
      texts: [
        'Храните рабочие файлы на облачном диске внутри компании. Редактируйте документы, обсуждайте с коллегами.',
        'Диск автоматически синхронизирует ваши файлы и документы, к которым вам дали доступ, с вашим компьютером.',
      ],
      secondaryButton: feedbackButton,
      image: {
        src: 'img/capabilities/12.webp',
        width: '720',
        height: '405',
      }
    },
    {
      heading: 'База знаний',
      texts: [
        'Приведите в порядок инструкции, чтобы их было удобно читать и применять. Создавайте обучающие материалы — это ускорит адаптацию новых сотрудников.',
        'Умные шаблоны помогут сделать статьи красивыми, даже если вы не разбираетесь в дизайне.',
        'Поддерживайте командный дух и дисциплину с помощью геймификации.',
      ],
      secondaryButton: feedbackButton,
      image: {
        src: 'img/capabilities/13.webp',
        width: '720',
        height: '448',
      }
    },
    {
      heading: 'Бизнес-процессы',
      texts: [
        'Бизнес-процессы ускорят согласование внутри компании: счета, отпуска, командировки будут автоматически направлены по заданной цепочке к нужным сотрудникам.',
        'С настройкой справится любой сотрудник — достаточно собрать цепочку действий в редакторе с простым интерфейсом.',
      ],
      primaryButton: referralProgramButton,
      image: {
        src: 'img/capabilities/14.webp',
        width: '720',
        height: '405',
      }
    },
    {
      heading: 'Битрикс24 КЭДО + Госключ',
      texts: [
        'Подписывайте кадровые документы в один клик с любым количеством сотрудников. Это быстро, безопасно и значительно сокращает расходы компании.',
        'Подписанные документы автоматически сохраняются в Битрикс24.',
      ],
      primaryButton: referralProgramButton,
      image: {
        src: 'img/capabilities/15.webp',
        width: '720',
        height: '405',
      }
    },
  ];
