-
  const licensesFeatures = [
    'Экстранет',
    'eCommerce-платформа',
    'Документы Онлайн',
    'Многодепартаментность',
    'Веб-кластер',
    'VIP поддержка 24/7'
  ];

  const licenses = [
    {
      title: 'Интернет-магазин + CRM',
      users: 12,
      prices: [92650, 109000],
      featuresCount: 2
    },
    {
      title: 'Корпоративный портал',
      users: [50, 100, 250, 500],
      prices: [
        [135150, 159000],
        [194650, 159001],
        [296650, 159002],
        [509150, 159003]
      ],
      featuresCount: 3
    },
    {
      title: 'Энтерпрайз',
      users: 1000,
      prices: [1299000],
      featuresCount: 6
    }
  ];
