-
  const descriptionOffer = {
    offer: {
      heading: '<span class="accent">Внедрим</span> Битрикс24 в&nbsp;ваш бизнес',
      texts: [
        'Проведем презентацию Битрикс24 под вашу нишу, обсудим бизнес-процессы, подготовим план работ и оценку внедрения',
      ],
      primaryButton: priceButton,
      secondaryButton: feedbackButton
    },
    headingTag: 'h1',
    size: 'big'
  };

  const discountOffer = {
    offer: {
      heading: 'Выбирайте разумно',
      texts: [
        'Узнайте, как ваше решение может повлиять на&nbsp;размер скидки и&nbsp;сделайте выгодный выбор',
      ],
      primaryButton: priceButton,
      secondaryButton: feedbackButton
    },
    headingTag: 'b',
    size: 'big'
  };

  const collaborationOffer = {
    offer: {
      heading: 'Совместная работа <span class="heading__small">с AI-помощником</span>',
      texts: [
        'Всё в одном сервисе: чат, видеозвонки, диск, календарь, бизнес-процессы и другие инструменты для работы в офисе или из дома.',
      ],
      primaryButton: referralProgramButton,
      secondaryButton: feedbackButton
    },
    headingTag: 'h2',
    size: 'big'
  }

  const messengerOffer = {
    offer: {
      heading: 'Мессенджер<br> с AI-помощником',
      texts: [
        'Только для вашей компании. Никаких случайных людей.',
      ],
      primaryButton: referralProgramButton,
      secondaryButton: feedbackButton
    },
    headingTag: 'h2',
    size: 'big'
  }

  const crmOffer = {
    offer: {
      heading: 'CRM для продаж <span class="heading__small">с AI-помощником</span>',
      texts: [
        'Всё в одном сервисе: чат, видеозвонки, диск, календарь, бизнес-процессы и другие инструменты для работы в офисе или из дома.',
      ],
      primaryButton: referralProgramButton,
      secondaryButton: feedbackButton
    },
    headingTag: 'h2',
    size: 'big'
  }

  const copilotOffer = {
    offer: {
      heading: 'Битрикс24 Copilot',
      texts: [
        'Искусственный интеллект для каждого бизнеса.',
      ],
      primaryButton: referralProgramButton,
      secondaryButton: feedbackButton
    },
    headingTag: 'h2',
    size: 'big'
  }
