include blocks/about
include blocks/about-page
include blocks/banner
include blocks/banners
include blocks/button
include blocks/capabilities-page
include blocks/capabilities-list
include blocks/development
include blocks/features
include blocks/features-list
include blocks/footer-navigation
include blocks/logo
include blocks/offer
include blocks/page-slider
include blocks/prices-page
include blocks/site-footer
include blocks/site-header
include blocks/site-navigation
include blocks/social-link
include blocks/socials
