include blocks/about
include blocks/button
include blocks/development
include blocks/footer-navigation
include blocks/logo
include blocks/offer
include blocks/page-slider
include blocks/site-footer
include blocks/site-header
include blocks/site-navigation
include blocks/social-link
